body {
	border: solid black 2px;
	max-width: 600px;
}
span {
	font-style: italic;
	font-family: Roboto Slab;
}
#top-box, #bottom-box{
	color: black;
	font-family: Courgette;
	text-align: center;
	background-color: #B4D8C1;
	padding: 8px;
	font-weight: bold;
	font-size: 16px;
	clear: both;
}
.left-half {
	font-weight: bold;
	font-family: Quattrocento;
	font-size: 12px;
  text-align: center;
	float: left;
	width: 300px;
}
.right-half {
	font-family: Oswald;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#box-one {
  background: #ccffcc;
  padding: 12px 20px 20px 30px;
}
#box-two {
	background: #669966;
	padding: 10px;
}
#box-three {
  background: #ccffcc;
	padding: 2px;
}
#box-four {
	background: #669966;
	padding: 10px 0px 10px 0px;
}
#box-five {
	background: #66cc66;
	padding: 7px 2px 1px 25px;
}
#box-six {
	background: #ccffcc;
	padding: 30px 0px 27px 0px;
}
#box-seven {
	background: #66cc66;
	padding: 21px 21px 31px 21px;
}
#box-eight {
	background: #ccffcc;
	padding: 13px 12px 18px 2px;
}
